/** Variables **/
:root {
	/* Primary Colours
	These are the primary greyscale colours used in the default theme
	--000 representing the lightest white and foreground
	--900 representing the darkest black and background
	The rest represent colours in the range of greyscale from light to dark ala Tailwind Naming Conventions
	*/
	--000: #eee;
	--100: #ddd;
	--150: #ccc;
	--200: #bbb;
	--300: #aaa;
	--400: #999;
	--500: #888;
	--600: #777;
	--700: #666;
	--750: #444;
	--800: #333;
	--850: #222;
	--900: #111;

	/* Accent Colours */
	--red: #ec3535;
	--pink: #e40081;
	--pink-secondary: #d67caf;
	--purple: #80f;
	--purple-secondary: #aa4bc8;
	--blue: #4372ff;
	--blue-secondary: #559bc0;
	--teal: #08c1c1;
	--green: #38b20a;
	--green-secondary: #7caf7c;
	--lime: #44e342;
	--orange: #f28500;
	--brown: #4c2217;
	--black: #929292;
	--yellow: #ffd700;
	--gold: gold;
	--silver: silver;

	/* Status Specific */
	--lewd: #e04880;
	--defiant: #d20000;
	--meek: #c44b8b;
	--brat: #b75d41;
	--relaxed: #63719c;
	--anxious: #973253;
	--veteran: #956bb4;
	--methodical: #ce7993;
	--scarred: #d8621f;
	--tattooed: #266568;
	--manager: #7094b5;

	/* Utility */
	--link: #5888dd;
	--link-hover: #8af;

	/* Tooltip */
	--tooltip-background: #1a1919;
	--tooltip-border: #b0b0b4;
}

/** Palettes **/

/* Light Theme
 * Commented out until theme selector is implemented
[data-theme="light"] {
	--900: hsl(218deg 27% 92%);
	--850: hsl(218deg 27% 92%);
	--800: hsl(218deg 27% 92%);
	--750: hsl(219deg 28% 88%);
	--700: hsl(219deg 5% 66%);
	--600: hsl(219deg 5% 56%);
	--500: hsl(219deg 5% 45%);
	--400: hsl(220deg 4% 40%);
	--300: hsl(220deg 4% 35%);
	--200: hsl(220deg 16% 36%);
	--150: hsl(220deg 17% 32%);
	--100: hsl(222deg 16% 28%);
	--000: hsl(220deg 16% 22%);

	--blue: hsl(213deg 32% 52%);
	--blue-secondary: hsl(210deg 34% 63%);
	--teal: hsl(179deg 25% 65%);
	--black: hsl(0deg 0% 46%);
	--yellow: hsl(44deg 68% 47%);
	--red: hsl(354deg 42% 56%);
	--pink: hsl(311deg 40% 56%);
	--pink-secondary: hsl(311deg 20% 63%);
	--purple: #80f;
	--purple-secondary: #aa4bc8;
	--green: hsl(92deg 28% 50%);
	--green-secondary: hsl(92deg 28% 65%);
	--lime: hsl(92deg 66% 30%);
	--orange: hsl(14deg 51% 63%);
	--brown: #4c2217;
	--gold: hsl(30deg 50% 50%);
	--silver: silver;

	--lewd: #e04880;
	--defiant: #d20000;
	--meek: #c44b8b;
	--brat: #b75d41;
	--relaxed: #63719c;
	--anxious: #973253;
	--veteran: #956bb4;
	--methodical: #ce7993;
	--scarred: #d8621f;
	--tattooed: #266568;

	--link: hsl(213deg 32% 52%);
	--link-hover: hsl(213deg 32% 45%);

	--tooltip-border: #1a1919;
	--tooltip-background: #b0b0b4;
}
*/

[data-theme="zen"] {
	/* Base Colours */
	--000: hsl(60deg 20% 86%);
	--100: hsl(60deg 9% 81.4%);
	--150: hsl(60deg 5% 75.1%);
	--200: hsl(60deg 3% 66%);
	--300: hsl(0deg 0% 56%);
	--400: hsl(0deg 0% 53%);
	--500: hsl(0deg 0% 47%);
	--600: hsl(0deg 0% 44%);
	--700: hsl(0deg 0% 37%);
	--750: hsl(0deg 0% 31%);
	--800: hsl(0deg 0% 29%);
	--850: hsl(0deg 0% 25%);
	--900: hsl(0deg 0% 22%);

	/* Accent Colours */
	--red: hsl(0deg 36% 69%);
	--pink: hsl(320deg 55% 76%);
	--teal: hsl(183deg 26% 59%);
	--blue: hsl(213deg 32% 52%);
	--blue-secondary: hsl(210deg 34% 63%);
	--black: hsl(0deg 0% 46%);
	--yellow: hsl(40deg 71% 73%);
	--pink-secondary: hsl(311deg 20% 63%);
	--purple: hsl(272deg 45% 50%);
	--purple-secondary: hsl(286deg 39% 60%);
	--green: hsl(92deg 28% 50%);
	--green-secondary: hsl(92deg 28% 65%);
	--lime: hsl(92deg 66% 30%);
	--orange: hsl(24deg 56% 72%);
	--brown: hsl(12deg 34% 19%);
	--gold: hsl(43deg 43% 74%);
	--silver: hsl(60deg 0% 75%);

	/* Status Specific */
	--lewd: hsl(320deg 55% 76%);
	--defiant: hsl(0deg 32% 56%);
	--meek: hsl(327deg 30% 56%);
	--brat: hsl(14deg 51% 63%);
	--relaxed: hsl(182deg 22% 53%);
	--anxious: hsl(340deg 50% 39%);
	--veteran: #956bb4;
	--methodical: #ce7993;
	--scarred: #d8621f;
	--tattooed: #266568;
	--manager: #7094b5;

	/* Utility */
	--link: hsl(201deg 38% 75%);
	--link-hover: hsl(213deg 32% 52%);

	/* Tooltip */
	--tooltip-background: hsl(0deg 0% 37%);
	--tooltip-border: hsl(60deg 5% 75.1%);
}

[data-theme="arctic"] {
	--000: hsl(218deg 27% 94%);
	--100: hsl(218deg 27% 92%);
	--150: hsl(219deg 28% 88%);
	--200: hsl(219deg 27% 85%);
	--300: hsl(217deg 15% 75%);
	--400: hsl(217deg 13% 68%);
	--500: hsl(217deg 15% 68%);
	--600: hsl(217deg 13% 50%);
	--700: hsl(220deg 16% 40%);
	--750: hsl(220deg 17% 35%);
	--800: hsl(222deg 16% 30%);
	--850: hsl(222deg 16% 28%);
	--900: hsl(220deg 16% 22%);

	/* Accent Colours */
	--red: hsl(354deg 42% 56%);
	--pink: hsl(326deg 60% 55%);
	--pink-secondary: hsl(326deg 52% 66%);
	--purple: hsl(272deg 40% 50%);
	--purple-secondary: hsl(272deg 40% 63%);
	--blue: hsl(193deg 43% 67%);
	--blue-secondary: hsl(210deg 34% 63%);
	--teal: hsl(179deg 25% 65%);
	--green: hsl(92deg 28% 65%);
	--green-secondary: hsl(120deg 24% 59%);
	--lime: hsl(119deg 30% 60%);
	--orange: hsl(14deg 51% 63%);
	--brown: hsl(12deg 34% 19%);
	--black: hsl(217deg 15% 68%);
	--yellow: hsl(40deg 71% 73%);
	--gold: hsl(34deg 71% 73%);
	--silver: hsl(217deg 15% 75%);

	/* Status Specific */
	--lewd: hsl(338deg 50% 58%);
	--defiant: hsl(354deg 62% 56%);
	--meek: hsl(328deg 41% 63%);
	--brat: hsl(14deg 38% 70%);
	--relaxed: hsl(225deg 22% 50%);
	--anxious: hsl(340deg 60% 39%);
	--veteran: hsl(275deg 33% 56%);
	--methodical: hsl(342deg 46% 64%);
	--scarred: hsl(22deg 75% 48%);
	--tattooed: hsl(183deg 36% 38%);
	--manager: #7094b5;

	/* Utility */
	--link: hsl(213deg 53% 66%);
	--link-hover: hsl(213deg 32% 45%);

	/* Tooltip */
	--tooltip-background: hsl(220deg 17% 35%);
	--tooltip-border: hsl(219deg 27% 85%);
}

[data-theme="monokai"] {
	--000: hsl(60deg 30% 96%);
	--100: hsl(50deg 6% 84%);
	--150: hsl(50deg 6% 74%);
	--200: hsl(50deg 6% 64%);
	--300: hsl(50deg 6% 51%);
	--400: hsl(50deg 11% 41%);
	--500: hsl(50deg 11% 41%);
	--600: hsl(50deg 11% 41%);
	--700: hsl(55deg 11% 22%);
	--750: hsl(24deg 9% 18%);
	--800: hsl(24deg 9% 15%);
	--850: hsl(24deg 9% 13%);
	--900: hsl(24deg 8% 12%);

	/* Accent Colours */
	--red: hsl(338deg 95% 56%);
	--pink: hsl(305deg 98% 68%);
	--pink-secondary: #d67caf;
	--purple: hsl(261deg 80% 65%);
	--purple-secondary: hsl(261deg 100% 75%);
	--blue: hsl(190deg 51% 50%);
	--blue-secondary: #559bc0;
	--teal: hsl(172deg 71% 78%);
	--green: hsl(75deg 67% 38%);
	--green-secondary: hsl(75deg 67% 48%);
	--lime: hsl(75deg 70% 58%);
	--orange: hsl(27deg 96% 55%);
	--brown: hsl(12deg 54% 19%);
	--black: hsl(50deg 6% 51%);
	--yellow: hsl(54deg 70% 68%);
	--gold: hsl(46deg 71% 68%);
	--silver: silver;

	/* Status Specific */
	--lewd: hsl(323deg 98% 68%);
	--defiant: #d20000;
	--meek: #c44b8b;
	--brat: #b75d41;
	--relaxed: #63719c;
	--anxious: #973253;
	--veteran: #956bb4;
	--methodical: #ce7993;
	--scarred: #d8621f;
	--tattooed: #266568;
	--manager: #7094b5;

	/* Utility */
	--link: hsl(261deg 100% 75%);
	--link-hover: hsl(261deg 100% 70%);

	/* Tooltip */
	--tooltip-background: hsl(24deg 9% 13%);
	--tooltip-border: hsl(50deg 6% 64%);
}

[data-theme="storm"] {
	--000: hsl(227deg 35% 71%);
	--100: hsl(226deg 30% 67%);
	--150: hsl(226deg 25% 64%);
	--200: hsl(226deg 20% 59%);
	--300: hsl(226deg 16% 53%);
	--400: hsl(226deg 14% 48%);
	--500: hsl(227deg 15% 42%);
	--600: hsl(228deg 16% 37%);
	--700: hsl(228deg 16% 31%);
	--750: hsl(229deg 16% 26%);
	--800: hsl(229deg 17% 20%);
	--850: hsl(232deg 18% 17%);
	--900: hsl(235deg 19% 13%);

	/* Accent Colours */
	--red: hsl(349deg 89% 72%);
	--pink: hsl(305deg 98% 68%);
	--pink-secondary: #d67caf;
	--purple: hsl(261deg 85% 79%);
	--purple-secondary: hsl(261deg 100% 75%);
	--blue: hsl(218deg 45% 47%);
	--blue-secondary: hsl(221deg 89% 75%);
	--teal: hsl(202deg 100% 75%);
	--green: hsl(89deg 32% 38%);
	--green-secondary: hsl(171deg 32% 29%);
	--lime: hsl(89deg 51% 61%);
	--orange: hsl(22deg 100% 70%);
	--brown: hsl(22deg 59% 37%);
	--black: hsl(50deg 6% 51%);
	--yellow: hsl(54deg 70% 68%);
	--gold: hsl(36deg 66% 64%);
	--silver: silver;

	/* Status Specific */
	--lewd: hsl(323deg 98% 68%);
	--defiant: hsl(0deg 100% 35%);
	--meek: hsl(328deg 51% 53%);
	--brat: hsl(14deg 48% 49%);
	--relaxed: hsl(225deg 32% 50%);
	--anxious: hsl(340deg 60% 39%);
	--veteran: hsl(275deg 33% 56%);
	--methodical: hsl(342deg 36% 54%);
	--scarred: hsl(22deg 65% 48%);
	--tattooed: hsl(183deg 56% 32%);
	--manager: #7094b5;

	/* Utility */
	--link: hsl(218deg 66% 61%);
	--link-hover: hsl(223deg 100% 77%);

	/* Tooltip */
	--tooltip-background: hsl(24deg 9% 13%);
	--tooltip-border: hsl(50deg 6% 64%);
}

/** End of Palettes **/

/** Colour Classes **/

/* Utility */
.linkBlue {
	color: var(--link);
}

/* Regular Colours */
.red {
	color: var(--red);
}

.pink {
	color: var(--pink);
}

.light-pink {
	color: var(--pink-secondary);
}

.purple {
	color: var(--purple-secondary);
}

.blue {
	color: var(--blue);
}

.lblue,
.light-blue {
	color: var(--blue-secondary);
}

.teal {
	color: var(--teal);
}

.green {
	color: var(--green);
}

.lime-green {
	color: var(--lime);
}

.brown {
	color: var(--brown);
}

.gold,
.gold button,
.goldLink a {
	color: var(--gold);
}

.hide a {
	color: var(--200);
	text-decoration: none;
}

.hide a:hover {
	color: var(--200);
	text-decoration: none;
}

.silver {
	color: var(--silver);
}

.bronze {
	color: #cd7f32;
}

.steel {
	color: #8d9496;
}

.blue-steel {
	color: #393747;
}

.yellow,
.pale-yellow {
	color: var(--yellow);
}

.orange {
	color: var(--orange);
}

.tangerine,
.pale-tangerine {
	color: var(--orange);
}

.black {
	color: var(--black);
}

.softbrown {
	color: #a45e16;
}

.lightbrown,
.light-brown {
	color: #c5793a;
}

.burntorange {
	color: #d47730;
}

.bloodorange {
	color: #ff4000;
}

.bluehair {
	color: #3973ac;
}

.deepblue {
	color: #0d2f73;
}

.neonblue {
	color: #00d5ff;
}

.greenhair {
	color: #005c00;
}

.darklime {
	color: #4a8000;
}

.toxicgreen {
	color: #99e600;
}

.tealhair {
	color: #008040;
}

.pinkhair {
	color: #e05281;
}

.brightpink {
	color: #ff80aa;
}

.hotpink {
	color: #ff4dc4;
}

.softpink {
	color: #d6855c;
}

.crimson {
	color: #b30000;
}

.purplehair {
	color: #48095d;
}

.mediumpurple {
	color: #3600b2;
}

.brightpurple {
	color: #ab66ff;
}

.whitehair {
	color: #808080;
}

.snowwhitehair {
	color: #fff;
}

.softblond {
	color: #e4cd87;
}

.platinum {
	color: #fef593;
}

.ashy {
	color: #d3cfaa;
}

.strawberry {
	color: #f08c51;
}

.lewd {
	color: var(--lewd);
}

.grey {
	color: #b7b7b7;
}

.light-grey {
	color: #dddada;
}

.tan {
	color: #d2b48c;
}

.sand {
	color: #ffdfa1;
}

.olive {
	color: #8e8e38;
}

.navy {
	color: #667dc1;
}

.wine {
	color: #8b3626;
}

/* End of Regular Colour Classes */

/* Status Colours */
.brat {
	color: var(--brat);
}

.meek {
	color: var(--meek);
}

.def {
	color: var(--defiant);
}

.sub {
	color: var(--purple-secondary);
}

.relaxed {
	color: var(--relaxed);
}

.anxious {
	color: var(--anxious);
}

.veteran {
	color: var(--veteran);
}

.methodical {
	color: var(--methodical);
}

.scarred {
	color: var(--scarred);
}

.tattooed {
	color: var(--tattooed);
}

.manager {
	color: var(--manager);
}

/* End of Status Colour Classes */

/* Background Colours */
.bg-red {
	background-color: var(--red);
}

.bg-pink {
	background-color: var(--pink);
}

.bg-light-pink {
	background-color: var(--pink-secondary);
}

.bg-purple {
	background-color: var(--purple-secondary);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-lblue,
.bg-light-blue {
	background-color: var(--blue-secondary);
}

.bg-teal {
	background-color: var(--teal);
}

.bg-green {
	background-color: var(--green);
}

.bg-light-green {
	background-color: var(--green-secondary);
}

.bg-lime-green {
	background-color: var(--lime);
}

.bg-brown {
	background-color: var(--brown);
}

.bg-brat {
	background-color: var(--brat);
}

.bg-meek {
	background-color: var(--meek);
}

.bg-def {
	background-color: var(--defiant);
}

.bg-sub {
	background-color: var(--purple-secondary);
}

.bg-gold {
	background-color: var(--yellow);
}

.bg-silver {
	background-color: var(--silver);
}

.bg-bronze {
	background-color: #cd7f32;
}

.bg-steel {
	background-color: #8d9496;
}

.bg-blue-steel {
	background-color: #393747;
}

.bg-yellow,
.bg-pale-yellow {
	background-color: var(--yellow);
}

.bg-orange {
	background-color: var(--orange);
}

.bg-tangerine,
.bg-pale-tangerine {
	background-color: var(--orange);
}

.bg-black {
	background-color: var(--900);
}

.bg-white,
.bg-pale-white {
	background-color: var(--100);
}

.bg-softbrown {
	background-color: #a45e16;
}

.bg-lightbrown {
	background-color: #c5793a;
}

.bg-burntorange {
	background-color: #d47730;
}

.bg-softblond {
	background-color: #e4cd87;
}

.bg-platinum {
	background-color: #fef593;
}

.bg-ashy {
	background-color: #d3cfaa;
}

.bg-strawberry {
	background-color: #f08c51;
}

.bg-lewd {
	background-color: var(--lewd);
}

.bg-grey {
	background-color: #b7b7b7;
}

.bg-tan {
	background-color: #d2b48c;
}

.bg-sand {
	background-color: #ffdfa1;
}

.bg-olive {
	background-color: #8e8e38;
}

.bg-navy {
	background-color: #667dc1;
}

.bg-wine {
	background-color: #8b3626;
}

/* End of Background Colour Classes */

/** End of Colour Classes **/
