.debug-images {
	width: 120px;
	height: 240px;
	overflow: hidden;
	border: solid 1px var(--200);
	background-color: var(--850);
}

.debug-images > * {
	position: absolute;
	left: -57px;
	height: 240px;
	overflow: hidden;
}

.debug-hideImageOverflow {
	position: relative;
	width: 120px;
	height: 240px;
	overflow: hidden;
}

.debug-hideImageOverflow canvas {
	position: absolute;
	left: -50px;
}

.left {
	float: left;
}

.debugPassages {
	max-width: 2000px !important;
}

#saveCompareUI {
	border: solid 1px var(--300);
}

#comparedResult .item {
	margin: 3px 0;
	padding: 3px;
	border: solid 1px var(--300);
	word-wrap: break-word;
}

.debug-event-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.debug-event-item {
	flex-basis: 16rem;
	flex-grow: 1;
	min-height: 6rem;
	margin: 0.15rem;
	padding: 0.15rem;
}

.debug-event-empty {
	background: repeating-linear-gradient(45deg, var(--850), var(--850) 10px, var(--750) 10px, var(--750) 20px);
	color: var(--500);
}

.debug-event-success {
	border: solid 1px rgb(50 200 50 / 50%);
}

.debug-event-warning {
	border: solid 1px rgb(200 200 50 / 50%);
}

.debug-event-error {
	border: solid 1px rgb(200 50 50 / 50%);
}

.debug-event-item hr {
	margin: 0;
}

.sneaky-warning {
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: rgb(255 0 0 / 50%);
	color: rgb(255 255 255 / 100%);
}

.sneaky-warning b {
	font-size: 1.15em;
}

.sneaky-warning h3 {
	text-align: center;
}
