.hpi_gridHeader {
	box-sizing: border-box;
	min-width: 288.49px;
	max-width: 600px;
	margin-right: 1em;
	border: 1px solid #bc9f45;
	background-color: #815300;
	text-align: center;
}

.hpi_gridContainer {
	background: repeating-linear-gradient(45deg, #42424200, #5656562b 8px, #25252545 10px, #0000 14px);
}

.hpi_gridHeader:hover {
	cursor: pointer;
	filter: brightness(1.05);
}

.hpi_indic_green {
	color: var(--green);
}

.hpi_indic_blue {
	color: #9e9efc;
}

.hpi_indicator {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	font-size: 8px;
	text-align: center;
	white-space: nowrap;
}

.hpi_closeContainer {
	position: absolute;
	top: -8px;
	right: 1.5px;
	color: #bd4a4a;
	font-size: 15px;
	cursor: pointer;
}

.hpi_gridContainer,
.hpi_gridDescContainer {
	display: grid;
	box-sizing: border-box;
	grid-template: auto / repeat(auto-fit, minmax(18em, 1fr));
	max-width: 600px;
	margin-right: 1em;
}

.hpi_gridContainer > div,
.hpi_gridDescContainer > div {
	background-color: var(--850);
}

.hpi_gridContainer > div > div {
	display: inline-block;
}

.hpi_gridContainer > div:hover {
	transition-duration: 50ms;
	background-color: var(--800);
}

.hpi_gridContainer:hover {
	cursor: pointer;
}

.hpi_gridContainer .hpi_name {
	color: #68d;
	text-decoration: none;
}

.hpi_gridContainer .hpi_icon {
	width: 2rem;
	height: 2rem;
	padding: 4px;
	text-align: center;
}

.hpi_gridContainer .hpi_count {
	width: 2em;
	height: 100%;
	float: right;
	border-right: 1px solid;
	border-left: 1px solid;
	background-color: var(--850) !important;
	line-height: 250%;
	text-align: center;
	vertical-align: bottom;
}

.hpi_icon:hover,
.hpi_name:hover {
	cursor: pointer !important;
}

.hpi_count:hover {
	cursor: text !important;
}

#hpi_desc_img {
	height: auto;
	margin-top: 1%;
	margin-left: 3%;
	padding-right: 10px;
	transform: scale(1.3);
	transform-origin: top;
}

#hpi_desc {
	margin-top: 1%;
	padding-left: 6px;
	border-left: 0.1em solid var(--700);
	color: #878787;
	font-size: 0.8em;
}

.hpi_warning_label {
	background-color: #804c4c33;
	color: #b17575;
	font-size: 0.7em;
}

#hpi_take_every_morning {
	position: absolute;
	right: 0;
	margin-right: 17%;
}

.hpi_notice_label {
	background-color: #804c4c33;
	color: #b19275 !important;
}

#hpi_desc_action {
	display: block;
}

#hpi_descContainer {
	display: flex;
	position: relative;
	height: auto;
	margin-right: 10%;
	margin-left: 10%;
	overflow: hidden;
	border: 1px solid #80808045;
}

.hpi_blur {
	filter: blur(3px);
}

.hpi_take_pills {
	margin-left: 17%;
	white-space: nowrap;
}

.hpi_greyed_out {
	color: var(--600);
	text-decoration: unset;
	cursor: default;
}

.hpi_greyed_out:hover {
	color: var(--600) !important;
	text-decoration: unset !important;
}

.hpi_take_me_single {
	margin-left: 38% !important;
}

.unselectable {
	-webkit-touch-callout: none;
	user-select: none;
}

.hpi_auto_label {
	color: var(--300);
	font-size: 0.65em;
	font-weight: bolder;
	text-transform: uppercase;
}

/* For Mobile */
@media screen and (max-width: 620px) {
	#hpi_desc {
		font-size: 0.74em;
	}

	.hpi_take_pills {
		margin-left: 11%;
	}

	#hpi_take_every_morning {
		margin-right: 11%;
	}
}

@media screen and (max-width: 557px) and (min-width: 528px) {
	#hpi_desc {
		font-size: 0.74em;
	}
}

@media screen and (max-width: 527px) and (min-width: 490px) {
	#hpi_desc {
		font-size: 0.66em;
	}

	#hpi_desc_img {
		margin-top: 5.2%;
		padding-left: 3px;
	}
}

@media screen and (max-width: 489px) {
	#hpi_desc {
		font-size: 0.66em;
	}

	#hpi_desc_img {
		margin-top: 5.2%;
		padding-left: 3px;
	}
}

@media screen and (max-width: 455px) {
	.hpi_take_pills {
		margin-left: 4%;
	}

	#hpi_take_every_morning {
		margin-right: 4%;
	}
}

@media screen and (max-width: 423px) {
	#hpi_desc {
		font-size: 0.66em;
	}

	#hpi_desc_img {
		margin-top: 5.2%;
		padding-left: 3px;
	}
}

@media screen and (max-width: 410px) {
	#hpi_desc_img {
		margin-top: 9.2%;
	}

	.hpi_take_pills {
		margin-left: 0%;
	}

	#hpi_take_every_morning {
		margin-left: 0%;
	}
}
