<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="dol" 
    version="0.4.1.8" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    android-packageName="com.vrelnir.DegreesOfLewdity"
>
    <name short="DoL">Degrees of Lewdity</name>
    <description>Degrees of Lewdity</description>
    <author email="9096-Vrelnir@users.noreply.gitgud.io" href="https://gitgud.io/Vrelnir/degrees-of-lewdity">
        Vrelnir
    </author>
    <content src="Degrees of Lewdity.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" /> -->
	<preference name="loadUrlTimeoutValue" value="120000" /> 
    <platform name="android">
        <allow-intent href="market:*" />
        <hook type="before_compile" src="scripts/copyGameFiles.js" />
        <hook type="after_compile" src="scripts/copyForDist.js" />
        <icon src="www/res/ldpi.png" density="ldpi" />
        <icon src="www/res/mdpi.png" density="mdpi" />
        <icon src="www/res/hdpi.png" density="hdpi" />
        <icon src="www/res/xhdpi.png" density="xhdpi" />
        <icon src="www/res/xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <!-- ios is currently unsupported -->
    <!-- <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform> -->
</widget>
